<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false" cacheDirectory="var/cache/phpunit">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">php/tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="Test.php">php/tests/Functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">php/src</directory>
        </include>
    </source>
</phpunit>
